%head 
  %meta{"charaset":"UTF-8"}
  %link{"href":"menu_bar.scss", "rel":"stylesheet"}
%body
  .menu_bar 
    %li.menu
      %ul.menu__top menu
      %ul.menu_target 目標設定
      %ul.menu__feedback フィードバック
      %ul.menu__todo TODO
      %ul.menu__setting アカウント
      %ul.menu__help  ヘルプ